@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

#um{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
#dois{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: green;
}
#tres{
    color: blue;
    font-size: 20px;
    font-style: oblique;
    font-family: "Comic Relief", sans-serif;
}
#quatro{
    color: yellow;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: black;
}