/* Estilização por tags */

ul{
    background-color: cadetblue;
    list-style: none;
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Vampeta_%28cropped%29.jpg/640px-Vampeta_%28cropped%29.jpg) ; 
    list-style-position: inside;
    

}

li{
    color: white;
    font-size: 30px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Estilização por ID = sempre começar com # */
#caixa-rosa{
    background-color: pink;
}
#caixa-de-outra-cor{
    background-color: blueviolet;
    border: 3px solid blueviolet;
}

.caixa-branca{
    background-color: #ffffff;
    color: black;
    margin: 20px;
    width: 200px;
    height: 75px;
    display: inline-block;
}